<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== FontAwesome ===== -->
    <link rel="stylesheet" th:href="@{~/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}">

    <!-- ===== CSS ===== -->


    <title>Login and Registration Form</title>
    <link rel="stylesheet" th:href="@{~from.css}">
</head>

<body>
    <di class="container">
        <div clss="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="" name="loginForm">
                    <div class="input-field">
                        <input type="" name="email" placeholder="Enter your email">
                        <i class="fa-solid fa-envelope icon"></i>
                    </div>
                    <div class="input-field">
                    <input type="password" name="password" placeholder="Enter your password">
                    <i class="fa-solid fa-lock icon"></i>
                    <i class="fa-solid fa-eye-slash showhidepw"></i>
                    </div>
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logcheck">
                            <label for="locheck" class="text">Remember me</label>
                        </div>
                        <a href="#" class="text">Forget Password</a>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="Login">
                    </div>
                </form>
                <div class="login-signup">
                    <span class="text">Not a member</span>
                    <a href="#" class="text signup-link">Sign up</a>
                </div>


                <!-- Registration Form -->
                <div class="form signup">
                    <span class="title">Registration</span>
                    <form name="signUpform">
                        <div class="input-field">
                            <input type="text" name="name" placeholder="Enter your name">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" name="email" placeholder="Enter your email">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" name="password" placeholder="Create your password" class="password">
                            <i class="fa-solid fa-lock"></i>
                            <i class="fa-solid fa-eye-slash showhidepw"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" name="confirmpwd" class="password" placeholder="Confirm your password">
                            <i class="fa-solid fa-lock"></i>
                            <i class="fa-solid fa-eye-slash showhidepw"></i>
                        </div>
                        <div class="checkbox-text">
                            <div class="checkbox-content">
                                <input type="checkbox" id="termCon">
                                <label for="termCon" class="text">I accept all terms and conditions</label>
                            </div>
                            <div class="input-field button">
                                <input type="submit" value="signup">
                            </div>
                    </form>
                    <div class="login-signup">
                        <span class="text">Already a member?
                            <a href="#" class="text login-link">Login Now</a>
                        </span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ===== javscript ===== -->
    <script th:src="@{~/script.js}"></script>

</body>

</html>